<%- include ("partials/header") %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h2>Welcome To XYZ</h2>
			<a class="btn btn-primary btn-lg" href="/findfriends">Find Friends</a>
		</div>
	</header>
</div>
<%- include ("partials/footer") %>
