<% layout('layouts/boilerplate')%>

<div
	class="container d-flex justify-content-center align-items-center mt-3 mb-3"
>
	<div class="row">
		<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
			<div class="card shadow">
				<div class="card-body">
					<h5 class="card-title">Register</h5>
					<form
						action="/register"
						method="POST"
						class="validated-form"
						novalidate
					>
						<div class="mb-3">
							<label class="form-label" for="username">Username</label>
							<input
								class="form-control"
								type="text"
								id="username"
								name="username"
								required
								autofocus
							/>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="email">Email</label>
							<input
								class="form-control"
								type="email"
								id="email"
								name="email"
								required
							/>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="password">Password</label>
							<input
								class="form-control"
								type="password"
								id="password"
								name="password"
								required
							/>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="age">Age</label>
							<input
								class="form-control"
								type="number"
								id="age"
								name="age"
								required
							/>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="location">Location</label>
							<input
								class="form-control"
								type="text"
								id="location"
								name="location"
								required
							/>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="mb-3"><span id="error-message"></span></div>

						<button class="btn btn-success btn-block">Register</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	const API_KEY = '<%=API_KEY %>'
</script>
<script src="/js/register.js"></script>
