<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Friend</title>
	</head>
	<body>
		<form action="/findFriends" method="POST">
			<div>
				<label for="name">Name</label>
				<input type="text" id="name" name="friends[name]" />
			</div>
			<div>
				<label for="age">Age</label>
				<input type="number" id="age" name="friends[age]" />
			</div>
			<div>
				<label for="about">Tell us About yourself</label>
				<input type="text" name="friends[description]" id="about" />
			</div>
			<div>
				<label for="email">Email Id</label>
				<input type="email" id="email" name="friends[emailId]" />
			</div>
			<a href="/findfriends">Go back</a>
			<button>Add Me</button>
		</form>
	</body>
</html>
